@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">REGISTRO DE PRODUCTO</h1>
   		<header>LLENAR REGISTRO</header>
  
<form id="form" class="topBefore">
		
		  <p><input id="nombre" type="text" placeholder="NOMBRE"></p>
		  <p><input id="precio" type="text" placeholder="PRECIO"></p>
		  <p><textarea id="descripcion" type="text" placeholder="DESCRIPCION"></textarea></p>
  <input id="submit" type="submit" value="ENVIAR">
  
</form>
</div>
